<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    
    <bean name="railwayDAO" class="com.tschool.railwayweb.dao.RailwayDAO">
    </bean>
    <bean name="userDAO" class="com.tschool.railwayweb.dao.UserDAO">
    </bean>
    
    <bean name="userDetailsServiceImpl" class="com.tschool.railwayweb.service.UserDetailsServiceImpl"></bean>
    <bean name="userService" class="com.tschool.railwayweb.service.UserService"></bean>
    <bean name="ticketService" class="com.tschool.railwayweb.service.TicketService"></bean>
    <bean name="trainService" class="com.tschool.railwayweb.service.TrainService"></bean>
    <bean name="trainTypeService" class="com.tschool.railwayweb.service.TrainTypeService"></bean>
    <bean name="stationService" class="com.tschool.railwayweb.service.StationService"></bean>
    <bean name="pathService" class="com.tschool.railwayweb.service.PathService"></bean>
</beans>